__pycache__/
*.pyc
checkpoints/
training_log.json
pretrain_log.json
finetune_log.json
Data - French/Wikipedia/wikipedia_fr.txt
Data - French/Gutenberg/gutenberg_fr.txt
Data - French/CommonCorpus/common_corpus_fr.txt
*.o
*.rcgu.o
*.d
*.exe
*.bin
bpe_tokenizer/target/
*.rlib
*.lock